<main>
    <h2 class="page-name"><%= @band.name %></h2>
    <section>
        <h3>Albums</h3>
        <% @band.albums.each do |album| %>
            <li> <%= link_to album.title, album_url(album) %> </li>
        <% end %>
    </section>
    <section>
        <h3>Links</h3>
        <nav>
            <a href="<%= new_band_album_url(@band) %>" class="button">New Album</a>
            <a href="<%= edit_band_url %>" class="button">Edit Band</a>
            <form action="<%= band_url %>" method="post" class="delete-button">
                <%= auth_token %>
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Destroy Band" class="button">
            </form>
            <a href="<%= bands_url %>" class="button">All Bands</a>
        </nav>
    </section>
</main>