<!DOCTYPE html>
<html>
  <head>
    <title>RecordLabelInventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet"> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-content flex-column">
      <header>
        <h1 class="logo">Music App</h1>

        <% if current_user %>
          <div class="top-bar">
            <%= link_to 'Take me Home', bands_url, class: "button" %>
            <div>
              <p class="logged" id="logged-p">Logged in as: <%= current_user.email %></p>
              <form action="<%= session_url %>" method="post" class="logged">
                <%= auth_token %>
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Sign Out" class="button">
              </form>
            </div>
          </div>
        <% end %>
        <%= render 'shared/errors' %>
      </header>

      <%= yield %>
    </div>
  </body>
</html>
